.app {
  padding: 40px 20px;
}

section {
  margin-bottom: 20px;
}

h1 {
  font-size: 13px;
  font-weight: 600;
  padding-left: 5px;
}

pre {
  background: var(--theme-color-black);
  border-radius: 6px;
  color: #fff;
  font-size: 11px;
  display: flex;
  margin-top: 5px;
  overflow-x: auto;
  padding: 8px 10px;
  word-break: normal;
  word-wrap: normal;
  -webkit-font-smoothing: auto;
  -webkit-overflow-scrolling: touch;
}

p {
  margin-top: 6px;
  font-size: 12px;
  padding-left: 5px;
}